<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="use_platform"           default="true" />
  <arg name="use_ar_marker"          default="false" />
  <arg name="marker_frame_id"        default="odom" />

  <arg name="planning_group"         default="arm" />
  <arg name="sample_duration"        default="0.050" />

  <arg name="open_rviz"              default="true"  />
  <arg name="debug"                  default="false" />

  <group unless="$(arg use_platform)">
    <node name="gazebo_bridge" pkg="open_manipulator_with_tb3_tools" type="open_manipulator_with_tb3_gazebo_bridge" output="screen">
      <remap from="joint_trajectory_point" to="$(arg planning_group)/joint_trajectory_point"/>
    </node>
  </group>

  <group if="$(eval model == 'waffle_pi')">
    <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="false"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="sample_duration" value="$(arg sample_duration)"/>
    </include>
  </group>

  <group if="$(eval model == 'waffle')">
    <include file="$(find open_manipulator_with_tb3_waffle_moveit)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find open_manipulator_with_tb3_waffle_moveit)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="false"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="sample_duration" value="$(arg sample_duration)"/>
    </include>
  </group>

  <group if="$(arg open_rviz)">
    <include file="$(find open_manipulator_with_tb3_tools)/launch/moveit_rviz.launch">
      <arg name="config" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
  </group>

  <node name="$(arg planning_group)" pkg="open_manipulator_with_tb3_tools" type="open_manipulator_with_tb3_moveit_bridge" output="screen">
    <param name="planning_group"      value="$(arg planning_group)"/>
    <param name="use_platform"      value="$(arg use_platform)"/>
  </node>

  <node name="gripper_server" pkg="open_manipulator_with_tb3_tools" type="open_manipulator_with_tb3_gripper_server" output="screen"/>

  <group if="$(arg use_ar_marker)">
    <include file="$(find open_manipulator_ar_markers)/launch/ar_pose.launch">
      <arg name="use_platform"	    value="$(arg use_platform)" />
      <arg name="use_state_publisher" value="false"/>
      <arg name="open_rviz"       value="false"/>
      <arg name="marker_frame_id" value="$(arg marker_frame_id)"/>
      <arg name="camera_model" value="raspicam"/>
      <arg name="camera_namespace" value="camera"/>
      <!-- <arg name="rgb_camera_info_url" value=""/> -->
      <!-- <arg name="depth_camera_info_url" value=""/> -->
    </include>
 </group>
</launch>
