<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="use_robot_name"         default="om_with_tb3"/>
  <arg name="use_gazebo"             default="true" />
  <arg name="use_ar_marker"          default="false" />

  <arg name="planning_group"         default="arm" />
  <arg name="sample_duration"        default="0.050" />

  <arg name="open_rviz"              default="true"  />
  <arg name="debug"                  default="false" />

  <group if="$(arg use_gazebo)">
    <node name="gazebo_bridge" pkg="open_manipulator_with_tb3_tools" type="open_manipulator_with_tb3_gazebo_bridge" output="screen" ns="$(arg use_robot_name)"/>
  </group>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["om_with_tb3/joint_states"]</rosparam>
  </node>

  <group if="$(eval model == 'pi')">
    <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="false"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="sample_duration" value="$(arg sample_duration)"/>
    </include>
  </group>

  <group unless="$(eval model == 'pi')">
    <include file="$(find open_manipulator_with_tb3_waffle_moveit)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find open_manipulator_with_tb3_waffle_moveit)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="false"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="sample_duration" value="$(arg sample_duration)"/>
    </include>
  </group>

  <group if="$(arg open_rviz)">
    <include file="$(find open_manipulator_with_tb3_waffle_pi_moveit)/launch/moveit_rviz.launch">
      <arg name="config" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
  </group>

  <node name="$(arg planning_group)" pkg="open_manipulator_with_tb3_tools" type="open_manipulator_with_tb3_moveit_bridge" output="screen">
    <param name="planning_group"      value="$(arg planning_group)"/>
    <param name="use_gazebo"      value="$(arg use_gazebo)"/>
    <remap from="$(arg planning_group)/joint_trajectory_point" to="$(arg use_robot_name)/joint_trajectory_point"/>
  </node>

  <group if="$(arg use_ar_marker)">
    <group ns = "$(arg use_robot_name)">
      <include file="$(find open_manipulator_ar_markers)/launch/ar_pose.launch">
        <arg name="use_gazebo"	    value="$(arg use_gazebo)" />
        <arg name="use_robot_name"  value="$(arg use_robot_name)"/>
      </include>
    </group>
 </group>
</launch>
