<launch>
  <arg name="use_robot_name" default="om_with_tb3"/>
  <arg name="multi_robot_name" default="$(arg use_robot_name)"/>
  <arg name="set_lidar_frame_id" default="base_scan"/>

  <group ns="$(arg use_robot_name)">
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
      <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
    </include>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
      <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
    </include>

    <param name="robot_description"
     command="$(find xacro)/xacro --inorder '$(find open_manipulator_with_tb3_description)/urdf/open_manipulator_with_tb3_$(arg model).urdf.xacro'"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="100.0" />
      <param name="tf_prefix" value="$(arg use_robot_name)" />
    </node>
  </group>
</launch>
