<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="use_robot_name"         default="om_with_tb3"/>
  <arg name="use_gazebo"             default="true" />

  <arg name="planning_group"         default="arm" />
  <arg name="sample_duration"        default="0.050" />

  <arg name="map_file"       default="$(find open_manipulator_with_tb3_tools)/maps/map.yaml"/>

  <arg name="scan_topic"     default="scan_filtered"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="1.5708"/>

  <include file="$(find open_manipulator_with_tb3_tools)/launch/manipulation.launch">
    <arg name="use_robot_name"         value="$(arg use_robot_name)"/>
    <arg name="use_gazebo"             value="$(arg use_gazebo)" />
    <arg name="use_ar_marker"          value="false" />
    <arg name="planning_group"         value="$(arg planning_group)" />
    <arg name="sample_duration"        value="$(arg sample_duration)" />
    <arg name="open_rviz"              value="false"  />
    <arg name="debug"                  value="false" />
  </include>

  <include file="$(find open_manipulator_with_tb3_tools)/launch/navigation.launch">
    <arg name="use_robot_name"         value="$(arg use_robot_name)"/>
    <arg name="use_gazebo"             value="$(arg use_gazebo)" />
    <arg name="open_rviz"              value="false"  />
    <arg name="use_ar_marker"          value="true" />
    <arg name="marker_frame_id"        value="$(arg use_robot_name)/base_footprint" />
    <arg name="map_file"               value="$(arg map_file)" />
    <arg name="scan_topic"             value="$(arg scan_topic)" />
    <arg name="initial_pose_x"         value="$(arg initial_pose_x)"  />
    <arg name="initial_pose_y"         value="$(arg initial_pose_y)"  />
    <arg name="initial_pose_a"         value="$(arg initial_pose_a)"  />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_manipulator_with_tb3_tools)/rviz/open_manipulator_with_tb3_navigation.rviz" output="screen">
    <remap from="initialpose"  to="$(arg use_robot_name)/initialpose"/>
    <remap from="move_base_simple/goal"  to="$(arg use_robot_name)/move_base_simple/goal"/>
  </node>
</launch>
