<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="use_robot_name"         default="om_with_tb3"/>
  <arg name="use_gazebo"             default="true" />

  <arg name="planning_group"         default="arm" />
  <arg name="sample_duration"        default="0.050" />

  <arg name="map_file"       default="$(find open_manipulator_with_tb3_tools)/maps/map.yaml"/>

  <arg name="scan_topic"     default="scan_filtered"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="1.5708"/>

  <include file="$(find open_manipulator_with_tb3_tools)/launch/manipulation.launch">
    <arg name="use_robot_name"         value="$(arg use_robot_name)"/>
    <arg name="use_gazebo"             value="$(arg use_gazebo)" />
    <arg name="use_ar_marker"          value="false" />
    <arg name="planning_group"         value="$(arg planning_group)" />
    <arg name="sample_duration"        value="$(arg sample_duration)" />
    <arg name="open_rviz"              value="false"  />
    <arg name="debug"                  value="false" />
  </include>

  <include file="$(find open_manipulator_with_tb3_tools)/launch/navigation.launch">
    <arg name="use_robot_name"         value="$(arg use_robot_name)"/>
    <arg name="use_gazebo"             value="$(arg use_gazebo)" />
    <arg name="open_rviz"              value="false"  />
    <arg name="use_ar_marker"          value="true" />
    <arg name="marker_frame_id"        value="$(arg use_robot_name)/base_footprint" />
    <arg name="map_file"               value="$(arg map_file)" />
    <arg name="scan_topic"             value="$(arg scan_topic)" />
    <arg name="initial_pose_x"         value="$(arg initial_pose_x)"  />
    <arg name="initial_pose_y"         value="$(arg initial_pose_y)"  />
    <arg name="initial_pose_a"         value="$(arg initial_pose_a)"  />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_manipulator_with_tb3_tools)/rviz/open_manipulator_with_tb3_navigation.rviz" output="screen">
    <remap from="initialpose"  to="$(arg use_robot_name)/initialpose"/>
    <remap from="move_base_simple/goal"  to="$(arg use_robot_name)/move_base_simple/goal"/>
  </node>


<!--  <arg name="marker_id"       default="8"/>

  <arg name="distance_btw_base_to_ar_marker"       default="0.170"/>
  <arg name="rotate_after_pick_up"                 default="175.0"/>-->

<!--  <node pkg="open_manipulator_with_tb3_tools" type="controller_for_pick_and_place" name="controller_for_pick_and_place" output="screen">
    <param name="position_x_in_front_up_an_object"     value="-1.393"/>
    <param name="position_y_in_front_up_an_object"     value="3.545"/>
    <param name="position_z_in_front_up_an_object"     value="0.0"/>

    <param name="orientation_w_in_front_up_an_object"     value="0.705"/>
    <param name="orientation_x_in_front_up_an_object"     value="0.0"/>
    <param name="orientation_y_in_front_up_an_object"     value="0.0"/>
    <param name="orientation_z_in_front_up_an_object"     value="0.709"/>

    <param name="position_x_in_front_up_a_box"     value="0.760"/>
    <param name="position_y_in_front_up_a_box"     value="3.670"/>
    <param name="position_z_in_front_up_a_box"     value="0.0"/>

    <param name="orientation_w_in_front_up_a_box"     value="0.705"/>
    <param name="orientation_x_in_front_up_a_box"     value="0.0"/>
    <param name="orientation_y_in_front_up_a_box"     value="0.0"/>
    <param name="orientation_z_in_front_up_a_box"     value="0.709"/>

    <param name="robot_name"  value="$(arg use_robot_name)"/>

    <param name="marker_id"  value="$(arg marker_id)"/>

    <param name="distance_btw_base_to_ar_marker"       value="$(arg distance_btw_base_to_ar_marker)"/>
    <param name="rotate_after_pick_up"                 value="$(arg rotate_after_pick_up)"/>
  </node>-->
</launch>
