<?xml version="1.0"?>
<robot name="om_with_tb3" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include TurtleBot3 Waffle URDF -->
  <xacro:include filename="$(find turtlebot3_description)/urdf/turtlebot3_waffle_for_open_manipulator.urdf.xacro"/>

  <!-- Include OpenMANIPULATOR URDF -->
  <xacro:include filename="$(find open_manipulator_with_tb3_description)/urdf/open_manipulator.urdf.xacro"/>

  <!-- Include OpenMANIPULATOR Gazebo Parameter -->
  <xacro:include filename="$(find open_manipulator_with_tb3_description)/urdf/open_manipulator_with_tb3.gazebo.xacro"/>

  <!-- Include OpenMANIPULATOR Transmission -->
  <xacro:include filename="$(find open_manipulator_with_tb3_description)/urdf/transmission.xacro"/>

  <!-- Base fixed joint -->
  <joint name="base_fixed" type="fixed">
    <origin xyz="-0.092 0.0 0.091" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link1"/>
  </joint>

</robot>
